<footer class="footer page-footer fondFooter gray" id="footer-btn">
  <div class="container">


    <div class="row">

      <div class="col l6 s12">
        <img src="{{ '/img/picto/pictoF.svg' | prepend:site.baseurl }}" alt="logo-brand Societe" />
        <h5 class="white-text"> {{ site.title }} </h5>
        <p class="grey-text text-lighten-4"> {{ site.description }} </p>
        <p>Bonjour, vous êtes sur la démonstration du "site Société" de LVdesign.
          Ce site est la base d'une solution E-Commerce avec <a href="https://snipcart.com/" alt="Snipcart : Professionally crafted shopping cart platform
For big & small businesses alike ">Snipcart</a> pour présenter votre commerce ou boutique en ligne.
          Snipcart propose une solution simple, pratique et complete pour un coût très interessant.
          Très simplement, vous pourrez présenter à vos clients vos produits,
          vos services, votre situation
          et aussi les dernières nouveautés grâce à un lien vers
          instagram, facebook et twitter. </p>
        <p><a href="http://lvdesign.com.fr" alt="LVdesign un site à votre service" class="grey-text text-lighten-2">
            Je suis à votre disposition pour toutes adaptations. Merci et à bientôt...
          </a></p>
      </div>

      <div class="col l4 offset-l2 s12">

        <h5 class="white-text">Contact</h5>
        <ul>
          <li><i class="material-icons">location_city</i> 10 place du trocadéro, 75008 Paris</li>
          <li><i class="material-icons">email</i> contact@masociete.fr</li>
          <li><i class="material-icons">phone</i>+33 06 23 56 89 12</li>
        </ul>
        <h5 class="white-text">About</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Ma société</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Recrutement</a></li>
        </ul>
        <h5 class="white-text">Terms</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Votre compte</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Service clients</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">RGPD</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright {{ site.name }} | All rights reserved | LVdesign.com.fr
    </div>
  </div>
</footer>

<!-- jQuery and more… JavaScript at end of body for optimized loading -->
<script rel="preconnect" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
<script>window.jQuery || document.write('<script src="{{ /js/vendor/jquery-3.3.1.min.js | prepend: site.baseurl }}"><\/script>')</script>
<script rel="preconnect" src="{{ '/js/vendor/jquery.easing.min.js' | prepend: site.baseurl }}"></script>

<script rel="preconnect"src="{{ '/js/vendor/scrollreveal.min.js'| prepend: site.baseurl }}"></script>
<!-- Materialize -->
<script rel="preconnect" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Main JS-->
<script rel="preconnect" src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
</body>

</html>