<!DOCTYPE html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content=" Site societe">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		
    <link rel="manifest" href="site.webmanifest">
    
    <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="{{ "/css/materialize.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

<!-- snipcart  -->
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="Zjk4ZjI4Y2ItMzY5OS00MDM3LTljNTEtY2Y1MTFkYTE5MTk5NjM2NjY1NDcwNTQxMDc2Mjcz"></script>
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
</head>

    <body>
        <!-- Nav -->
        <div class="navbar-fixed">
        <nav class="green">
          <div class="nav-wrapper z-depth-5">
            <a href="{{ site.baseurl }}/" class="brand-logo société"><img src=" {{"/img/picto/pictoF.svg" | prepend:site.baseurl }}" alt="logo site société" style="height:35px; margin: 0 .1em 0 .4em">Société</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="{{ site.baseurl }}/#services">Services</a></li>
              <li><a href="{{ site.baseurl }}/#produits">Produits</a></li>
              <li><a href="{{ site.baseurl }}/#actu">Actualités</a></li>
              <li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
              <li><a href="{{ site.baseurl }}/produits.html"><i class="tiny material-icons">shopping_cart</i></a></li>
             
            </ul>
          </div>
        </nav>
    </div>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ site.baseurl }}/#services">Services<i class="tiny material-icons">style</i></a></li>
            <li><a href="{{ site.baseurl }}/#produits">Produits<i class="tiny material-icons">spa</i></a></li>
            <li><a href="{{ site.baseurl }}/#actu">Acualités<i class="tiny material-icons">favorite</i></a></li>
            <li><a href="{{ site.baseurl }}/#contact">Contact<i class="tiny material-icons">email</i></a></li>
            <li><a href="{{ site.baseurl }}/produits.html">Boutique<i class="tiny material-icons">shopping_cart</i></a></li>
        </ul>