<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Site Societé">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="manifest" href="{{ '/site.webmanifest' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ '/favicon-32x32.png' | prepend: site.baseurl }}" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ '/css/materialize.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">



    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend:
        site.baseurl | prepend: site.url }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>



    <!--<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.css" />-->


    <link href="https://cdn.snipcart.com/themes/v3.0.12/default/snipcart.css" rel="stylesheet" type="text/css" />
    <div hidden id="snipcart" data-api-key="Zjk4ZjI4Y2ItMzY5OS00MDM3LTljNTEtY2Y1MTFkYTE5MTk5NjM2NjY1NDcwNTQxMDc2Mjcz">
    </div>

    <script src="https://cdn.snipcart.com/themes/v3.0.12/default/snipcart.js"></script>
    <!--<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.css" />-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
    <!-- Nav -->
    <div class="navbar-fixed">
        <nav class="green">
            <div class="nav-wrapper z-depth-5">
                <a href="{{ site.baseurl }}/" class="brand-logo société"><img src=" {{'/img/picto/pictoF.svg' |
                        prepend:site.baseurl }}" alt="logo site société"
                        style="height:35px; margin: 0 .1em 0 .4em">MYBRAND</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ site.baseurl }}/#services">Services</a></li>
                    <li><a href="{{ site.baseurl }}/#produits">Produits</a></li>
                    <li><a href="{{ site.baseurl }}/#actu">Actualités</a></li>
                    <li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
                    <li><a href="{{ site.baseurl }}/posts/">Boutique</a></li>


                    <li><button style="height:1px; background-color: white; border:none;"
                            class="header__checkout snipcart-checkout snipcart-summary">
                            <i class="fa fa-shopping-cart"></i>
                            Checkout (
                            <span class="snipcart-items-count">0 </span> produits |
                            <span class="snipcart-total-price"> 0.00€</span>
                            )
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ site.baseurl }}/#services">Services<i class="tiny material-icons">style</i></a></li>
        <li><a href="{{ site.baseurl }}/#produits">Produits<i class="tiny material-icons">spa</i></a></li>
        <li><a href="{{ site.baseurl }}/#actu">Acualités<i class="tiny material-icons">favorite</i></a></li>
        <li><a href="{{ site.baseurl }}/#contact">Contact<i class="tiny material-icons">email</i></a></li>
        <li><a href="{{ site.baseurl }}/posts/">Boutique</a></li>
        <li><button style="height:1px; background-color: white; border:none;"
                class="snipcart-checkout snipcart-summary">
                <i class="fa fa-shopping-cart"></i>
                Checkout (<span class="snipcart-total-items"></span>)
            </button>
        </li>
    </ul>