<!DOCTYPE html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content=" Site societe">
    <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="css/materialize.min.css">
</head>

    <body>
        <!-- Nav -->
        <nav>
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><img src="img/picto/pictoF.svg" alt="logo site vitrine" style="height:30px; margin-right:.2em">Site Vitrine</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="#best-features">Features</a></li>
              <li><a href="#examples">Examples</a></li>
              <li><a href="#gallery">Gallery</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="produits.html">Produits</a></li>
              <li><a href="blog.html">Blog</a></li>
            </ul>
          </div>
        </nav>
      
        <ul class="sidenav" id="mobile-demo">
            <li><a href="#best-features">Features</a></li>
            <li><a href="#examples">Examples</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="produits.html">Produits</a></li>
            <li><a href="blog.html">Blog</a></li>
        </ul>