<div class="col s12 m6">

  <div class="card ">    
        <div class="card-image">
          <img  src="{{ product.image }}" alt="{{ product.name }}">   
          <a class="btn-floating halfway-fab waves-effect waves-light red accent-1" href="{{ site.baseurl }}{{ product.url }}"><i class="material-icons">shopping_cart</i></a>      
        </div>

          <div class="card-content">
              <span class="card-title grey-text text-darken-4">{{ product.name }}</span>
              <p>{{ product.description }}</p>
              <!-- 
                <p><a class="product" href="{{ site.baseurl }}{{ product.url }}">Plus de details</a></p>
                -->
              <hr>
              <p class="cat">{{ product.categories }}</p>
          
        </div>

   
    
      <div class="card-action">
        <button class="snipcart-add-item btn waves-effect waves-light green"
          data-item-name="{{ product.name }}"
          data-item-id="{{ product.sku }}"
          data-item-image="{{ product.image }}"
          data-item-url="{{ site.baseurl }}"
          data-item-price="{{ product.price }}"
          data-item-description="{{ product.description }}"
          data-item-categories="{{ product.categories }}">
          Buy it for {{ product.price }} $
        </button>
    </div>


    </div>

</div>


