---
layout: default

head: snipcart.html
---
<div class="base container products">
<div class="row">
<div class="col s12">
	
	<h1 class="h1-static-page">Mes archives base</h1>

		<nav>
		<a href="#allproducts" class="">All products ::</a>
		{% for categorie in site.categories %}
		

		<a href="{{ categorie | first | remove: ' ' }}" class="">{{ categories | first }}</a>
			{% if forloop.last %}
				{% else %}
			{% endif %}
		{% endfor %}
		--Nototo
		</nav>
		<div>
			<!--
				{% for product in site.products %}		
						{% for h in product.categories %}
						  <p>{{ product.categories  }}</p>>
						  {% endfor %}
				{% endfor %}
liste :// exterieure,plante
				-->

				{% for categorie in site.categories %}
				<h2>{{ categorie[0] }}</h2>
				<ul>
				  {% for product in categorie[1] %}
					<li><a href="{{ product.url }}">{{ product.name }}</a></li>
				  {% endfor %}
				</ul>
			  {% endfor %}

			  {% capture site_tags %}
			  {% for tag in site.tags %}
			  	{{ tag | first }}
				   {% unless forloop.last %},{% endunless %}
			  {% endfor %}
		  {% endcapture %} 

		  <ul class="blog-tags-list">
			{% assign sorted_tags = site.tags | sort %}
			{% for tag in sorted_tags %}
			  {% assign t = tag | first %}
			  {% assign posts = tag | last %}
			  <li class="blog-tag-item" id="{{ t }}-item">
				<a href onclick="filter('{{ t }}'); return false;">{{ t }}</a>
			  </li>
			{% endfor %}
		  </ul>
			 
		</div>
 	
	
 	
 	<div class="catbloc" id="allposts">
	 	 <h2>All posts News</h2>
		 	 <ul class="ul-tags">
		 	{% for product in site.products %}
		 	 <li><a href="{{site.baseurl }}{{ product.url }}">
			  <p class="marge-right">{{ product.categories  }}</p>
			  {{ product.name }}</a>

			  <small>
				{% for tag in product.tags %}
				<a href="{{ site.baseurl }}/tags/{{ tag }}/">{{ tag }}</a>
				{% endfor %}
			</small>
			
			  <img src="{{site.baseurl }}/{{ product.image }}" style="height:100px" />
			  
			  <div class="card-action">
					<button class="snipcart-add-item btn waves-effect waves-light green"
					  data-item-name="{{ product.name }}"
					  data-item-id="{{ product.sku }}"
					  data-item-image="{{ product.image }}"
					  data-item-url="{{ site.baseurl }}"
					  data-item-price="{{ product.price }}"
					  data-item-description="{{ product.description }}"
					  data-item-categories="{{ product.categories }}">
					  Buy it for {{ product.price }} $
					</button>
		 	</li>
		 	{% endfor %}
		 	</ul>
	 </div>
	
			{% for tag in site.tags %}
			 <div class="catbloc" id="{{ categorie | first | remove:' ' }}">
			 <h2>{{ tag | first }}</h2>
			        
			         <ul>
			            {% for products in tags %}
			              {% for product in products %}
			              	{% if product.url %}
			                 <li>
			                 <a href="{{site.baseurl }}{{ product.url }}">
			                    
								 {{ product.name }}
								 titi
                               </a>
                               <img src="{{ product.image }}" style="height:100px" />
			                </li>
			                {% endif %}
			             {% endfor %}
			           {% endfor %}
			        </ul>
			    </div>
			{% endfor %}


	
</div>
</div>
</div>